config kcptun_libev
	option enable '0'
	option listen ':8888'
	option kcp_connect ''
	option kcp_mtu '1400'
	option kcp_sndwnd '2048'
	option kcp_rcvwnd '2048'
	option kcp_nodelay '1'
	option kcp_interval '10'
	option kcp_resend '4'
	option kcp_nc '1'
	option udp_session_timeout '30'
	option udp_sndbuf '1048576'
	option udp_rcvbuf '1048576'